---
import Logo from './Logo.astro'
import ThemeSwitch from './ThemeSwitch.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <ThemeSwitch />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Chat</span>
    <span class="gpt-subtitle">Mini</span>
  </div>
  <p mt-1 op-60>一个简单的智能聊天机器人。</p>
</header>
